<?xml version="1.0"?>
<config>
	<modules>
		<Ifuturz_Productvideo>
			<version>0.1.0</version>
		</Ifuturz_Productvideo>
	</modules>
	<frontend>
        <routers>
            <productvideo>
                <use>standard</use>
                <args>
                    <module>Ifuturz_Productvideo</module>
                    <frontName>productvideo</frontName>
                </args>
            </productvideo>
        </routers>
        <layout>
            <updates>
                <productvideo>
                    <file>productvideo.xml</file>
                </productvideo>
            </updates>
        </layout>
    </frontend>
	<global>
		<events>
			<controller_action_predispatch>
				<observers>
					<productvideo_install>
						<class>Ifuturz_Productvideo_Model_Observer</class>
						<method>checkInstallation</method>
					</productvideo_install>					
				</observers>
		</controller_action_predispatch>
		</events>
		<blocks>
			<productvideo>
				<class>Ifuturz_Productvideo_Block</class>
			</productvideo>
			<adminhtml>
				<rewrite>
					<catalog_product_edit_tabs>Ifuturz_Productvideo_Block_Adminhtml_Catalog_Product_Edit_Tabs</catalog_product_edit_tabs>
				</rewrite>
			</adminhtml>
		</blocks>
	<models>
			<productvideo>
				<class>Ifuturz_Productvideo_Model</class>
				<resourceModel>productvideo_mysql4</resourceModel>
			</productvideo>
			<productvideo_mysql4>
				<class>Ifuturz_Productvideo_Model_Mysql4</class>
				<entities>
					<productvideo>
						 <table>ifuturz_productvideo</table>
					</productvideo>
				</entities>
			</productvideo_mysql4>
		</models>
		 <resources>
            <productvideo_setup>
                <setup>
                    <module>Ifuturz_Productvideo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productvideo_setup>
            <productvideo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </productvideo_write>
            <productvideo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </productvideo_read>
        </resources>
		
		<helpers>
			<productvideo>
                <class>Ifuturz_Productvideo_Helper</class>
            </productvideo>
		</helpers>
	</global>
	<adminhtml>       
        <events>
            <catalog_product_save_after>
                <observers>
                    <ifuturz_save_product_data9>
                        <type>singleton</type>
                        <class>productvideo/observer</class>
                        <method>saveProductTabData</method>
                    </ifuturz_save_product_data9> 
                </observers>
            </catalog_product_save_after>
        </events>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<productvideo>
											<title>Ifuturz - Product Video</title>
										</productvideo>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
</config>